<template>
    <div class="container">
        <h2 class="profile-title">Profile</h2>
        <div v-if="user">
            <p><strong>Name:</strong> {{ user.name }}</p>
            <p><strong>Username:</strong> {{ user.username }}</p>
        </div>
        <div v-else>
            <p>Loading...</p>
        </div>
    </div>
</template>

<script>
import axios from '../axios';

export default {
    data() {
        return {
            user: null,
        };
    },
    async created() {
        await this.fetchProfile();
    },
    methods: {
        async fetchProfile() {
            try {
                const token = localStorage.getItem('token');
                if (!token) {
                    alert('No token found');
                    this.$router.push('/login');
                    return;
                }

                const response = await axios.get('/users/profile', {
                    headers: {
                        Authorization: `Bearer ${token}`
                    }
                });

                this.user = response.data.data;
            } catch (error) {
                if (error.response && error.response.status === 401) {
                    this.$emit('auth-error');
                } else {
                    console.error('Error fetching profile:', error);
                }
            }
        },
    },
};
</script>

<style>
.container-profile {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.profile-title {
    text-align: center;
}

p {
    font-size: 1.1em;
}

strong {
    font-weight: bold;
}
</style>