<template>
  <div class="container">
    <h2>Register</h2>
    <form @submit.prevent="register">
      <div class="form-group" :class="{ 'has-error': errors.name }">
        <label for="name">Name</label>
        <input type="text" placeholder="Enter Your Name" v-model="name" />
        <span v-if="errors.name" class="error-message">{{ errors.name }}</span>
      </div>
      <div class="form-group" :class="{ 'has-error': errors.username }">
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Your Username" v-model="username" />
        <span v-if="errors.username" class="error-message">{{ errors.username }}</span>
      </div>
      <div class="form-group" :class="{ 'has-error': errors.password }">
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Your Password" v-model="password" />
        <span v-if="errors.password" class="error-message">{{ errors.password }}</span>
      </div>
      <button type="submit">Register</button>
      <div class="login-redirect">
        <span>Already have an account? <a @click.prevent="goToLogin">Login</a></span>
      </div>
    </form>
  </div>
</template>

<script>
import axios from '../axios';

export default {
  data() {
    return {
      name: '',
      username: '',
      password: '',
      errors: {
        name: null,
        username: null,
        password: null,
      },
    };
  },
  methods: {
    async register() {
      this.clearErrors();
      if (this.validateForm()) {
        try {
          const response = await axios.post('/users/register', {
            name: this.name,
            username: this.username.toLowerCase(),
            password: this.password,
          });

          alert('User registered successfully');
          localStorage.setItem('token', response.data.data.access_token)
          this.$router.push('/profile');
        } catch (error) {
          console.error(error);
          alert('Failed to register user');
        }
      }
    },
    validateForm() {
      let isValid = true;
      if (!this.name) {
        this.errors.name = 'Name is required';
        isValid = false;
      }
      if (!this.username) {
        this.errors.username = 'Username is required';
        isValid = false;
      }
      if (!this.password) {
        this.errors.password = 'Password is required';
        isValid = false;
      }

      return isValid;
    },
    clearErrors() {
      this.errors = {
        name: null,
        username: null,
        password: null,
      };
    },
    goToLogin() {
      this.$router.push('/login');
    },
  },
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 38px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 8.5px 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #8D5BEA;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #7D54E0;
}

.has-error input {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-left: 5px;
}

.login-redirect {
  text-align: center;
  margin-top: 15px;
}

.login-redirect a {
  color: #8D5BEA;
  cursor: pointer;
  text-decoration: none;
}

.login-redirect a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .container {
    max-width: 300px;
    font-size: 14px;
    padding: 20px;

  }
}
</style>
