<template>
    <div class="notfound-container">
        <h1 class="display-1">404</h1>
        <h4 class="pt-3">Oops! You're lost.</h4>
        <p class="text-muted">The page you are looking for was not found.</p>
        <p class="text-muted contact-info">
            <i class="fas fa-phone"></i> <a href="tel:021-31900658">021-12345678</a> |
            <i class="fas fa-envelope-square"></i> <a href="mailto:support@treasury.id">support@me.id</a>
        </p>
    </div>
</template>

<script>
export default {
    name: 'NotFound'
}
</script>

<style scoped>
.notfound-container {
    text-align: center;
    padding: 50px;
    border-radius: 10px;
}

.display-1 {
    font-size: 5rem;
    margin-bottom: 20px;
}

.pt-3 {
    padding-top: 15px;
}

.text-muted {
    color: #6c757d;
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.contact-info {
    margin-top: 20px;
}

.contact-info i {
    margin-right: 5px;
}

.contact-info a {
    margin-right: 10px;
}
</style>