<template>
  <div id="app">
    <nav>
      <ul>
        <li v-if="!isLoggedIn"><router-link to="/register">Register</router-link></li>
        <li v-if="!isLoggedIn"><router-link to="/login">Login</router-link></li>
        <li v-if="isLoggedIn"><router-link to="/profile">Profile</router-link></li>
        <li v-if="isLoggedIn"><a class="router-link" @click="logout">Logout</a></li>
      </ul>
    </nav>
    <router-view @auth-error="handleAuthError" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      isLoggedIn: !!localStorage.getItem('token')
    }
  },
  watch: {
    '$route'(to, from) {
      this.isLoggedIn = !!localStorage.getItem('token');
      this.setBackgroundImage();
    }
  },
  mounted() {
    this.setBackgroundImage();
  },
  methods: {
    logout() {
      localStorage.removeItem('token');
      this.isLoggedIn = false;
      this.$router.push('/login');
    },
    handleAuthError() {
      localStorage.removeItem('token');
      this.isLoggedIn = false;
      this.$router.push('/login');
    },
    setBackgroundImage() {
      if (this.$route.name !== 'NotFound') {
        document.body.style.background = `url(/5752637.jpg) no-repeat left center fixed`;
        document.body.style.backgroundSize = 'cover';
      } else {
        document.body.style.background = ``;
      }
    }
  }
}
</script>

<style>
nav {
  background-color: #333;
  padding: 1em;
  margin-bottom: 30px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 4px;
}

nav ul li a.router-link-exact-active {
  background-color: #8D5BEA;
  color: white;
  border-radius: 4px;
}

nav ul li button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

nav ul li button:hover {
  background-color: #555;
  border-radius: 4px;
}

.router-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  transition: background-color 0.3s;
}
</style>
